/radar/platform/ @iwoak @uolter @Krusty93 @pasqualedevita
/radar/java/ @iwoak @GiovanniMancini @pasqualespica @infantesimone @manuraf
/radar/typescript/ @gunzip @lucacavallaro @galales @balanza @BurnedMarshal
/radar/web/ @gunzip @lucacavallaro @kin0992 @ZorbaDimatteo @ruggerocastagnola @vito80ba
/radar/mobile/ @francescopersico @CrisTofani @vangaorth @shadowsheep1
/radar/all @gunzip @iwoak @francescopersico
