@font-face {
  font-family: "DIN";
  src: url("fonts/TitilliumWeb-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "DIN";
  src: url("fonts/TitilliumWeb-Light.ttf");
  font-weight: 300;
}
